# Binarios
*.exe

# RESULTADOS de tests (NO commitear)
*.test
*.out
coverage.out
coverage.html

# Variables de entorno
.env
.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temporales
tmp/